<nb-card *ngIf="category3Level" class="characteristic__filter">
  <nb-card-header>Характеристики</nb-card-header>

  <nb-card-body class="characteristic">
    <ng-container *ngIf="category3Level.filters.length">
      <div *ngFor="let filter of category3Level.filters;" class="category__level">
        <ng-container [ngSwitch]="filter.type">
          <div *ngSwitchCase="'boolean'" class="category__group">
            <p>{{ filter.name }}</p>

            <nb-radio-group status="primary">
              <nb-radio [value]="null" (click)="changeBooleanFilter(filter, null)">Неважно</nb-radio>

              <nb-radio [value]="true" (click)="changeBooleanFilter(filter, true)">Да</nb-radio>

              <nb-radio [value]="false" (click)="changeBooleanFilter(filter, false)">Нет</nb-radio>
            </nb-radio-group>
          </div>
  
          <div *ngSwitchCase="'range'" class="category__group range">
            <p>{{ filter.name }}</p>
  
            <input 
              type="number" 
              nbInput 
              fullWidth 
              status="primary" 
              fieldSize="medium" 
              shape="round" 
              [placeholder]="filter.values[0]" 
              [min]="+filter.values[0]" 
              [max]="+filter.values[1]"
              (change)="changeRangeFilter(filter, 'from', $event)"
            >

            <input 
              type="number" 
              nbInput 
              fullWidth 
              status="primary" 
              fieldSize="medium" 
              shape="round" 
              [placeholder]="filter.values[1]" 
              [min]="+filter.values[0]" 
              [max]="+filter.values[1]"
              (change)="changeRangeFilter(filter, 'to', $event)"
            >
          </div>
  
          <div *ngSwitchCase="'enum'" class="category__group">
            <p>{{ filter.name }}</p>
 
            <nb-select placeholder="Выберите" hero multiple fullWidth status="primary" shape="round" size="medium">
              <nb-option *ngFor="let value of filter.values" [value]="value" (click)="changeEnumFilter(filter, value)">{{ value }}</nb-option>
            </nb-select>
          </div>
  
          <div *ngSwitchDefault>Неизвестный тип фильтра</div>
        </ng-container>
      </div>
    </ng-container>   
  </nb-card-body>
</nb-card>
