@import "../../../../../assets/styles/mixins";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;
}

.auth {
  margin-top: 2rem;
  border: 2px solid #a16eff;
  border-radius: 1rem;

  padding: 2rem 1.5rem;

  &__title {
    @include font(3.5rem, #a16eff);
    text-align: center;

    margin-bottom: 2.5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__group {
    margin-bottom: 2rem;
    min-width: 28rem;

    position: relative;
  }

  input {
    @include font(1.6rem, white);

    &::placeholder {
      @include font(1.6rem, white);
      opacity: 0.5;
    }
  }

  .password__field {
    margin-bottom: 0;
  }
}

.button {
  margin-top: 0;
  width: 100%;
  max-width: 25rem;
}

::ng-deep.nb-theme-cosmic [nbButton].size-medium, .nb-theme-cosmic .size-medium[nbButtonToggle] {
  @include font(1.6rem, white);
  font-family: inherit;
  padding: .7rem 1.5rem;
  letter-spacing: .2rem;
  font-family: 'Consolas', sans-serif;
}

::ng-deep.nb-theme-cosmic nb-toast {
  .title {
    @include font(1.8rem, white, 700);
  }

  .message {
    @include font(1.4rem, white, 700);
  }
}
