<nb-card *ngIf="product" class="product">
  <nb-card-header>{{ product.name }}</nb-card-header>

  <nb-card-body class="product__body">
    <div class="product__body-img">
      <img [src]="product.imagePath" alt="Изображение">
    </div>

    <span>Цена: {{ product.price }} р.</span>
  </nb-card-body>

  <nb-card-footer>
    <nb-actions>
      <nb-action icon="heart-outline" nbTooltip="Добавить в изранное"></nb-action>
      <nb-action icon="car-outline" nbTooltip="Добавить в маршрут"></nb-action>
      <nb-action icon="info-outline" nbTooltip="Подробнее"></nb-action>
    </nb-actions>
  </nb-card-footer>
</nb-card>



