<nb-card *ngIf="product" class="product" [class.in_route]="isInRoute">
  <nb-card-header>{{ product.name }}</nb-card-header>

  <nb-card-body class="product__body">
    <div class="product__body-img">
      <img [src]="product.imagePath" alt="Изображение">
    </div>

    <span>Цена: {{ product.price }} р.</span>
  </nb-card-body>

  <nb-card-footer>
    <nb-actions>
      <nb-action 
        icon="heart-outline" 
        [class.favorite]="isFavorite"
        [nbTooltip]="isFavorite ? 'Убрать из избраного' : 'Добавить в избраное'" 
        (click)="favoriteAction()"
      ></nb-action>
      <nb-action 
        icon="car-outline"
        [class.in_route]="isInRoute"
        [nbTooltip]="isInRoute ? 'Убрать из маршрута' : 'Добавить в маршрут'" 
        (click)="routeAction()"
      ></nb-action>
      <nb-action icon="info-outline" nbTooltip="Подробнее"></nb-action>
    </nb-actions>
  </nb-card-footer>
</nb-card>



