@import "../../../../../assets/styles/mixins";

:host {
  flex-basis: 48%;
  max-width: 48%;

  display: flex;
}

.product {
  border: 1px solid white;
  min-height: 30rem;

  &__body {
    span {
      @include font(1.3rem, white, 400);
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-img {
      max-height: 12rem;
      margin-bottom: 1rem;

      img {
        display: block;
        object-fit: cover;
        height: 100%;
      }
    }
  } 
}