<div *ngIf="userRole" class="nav">
  <div class="logout">
    <a class="nav__link" (click)="logout()">Выход</a>
  </div>

  <div class="routes">
    <a *ngIf="userRole === 'admin'" class="nav__link" [routerLink]="['/admin']">Пользователи</a>
    <a *ngIf="userRole === 'user' || userRole === 'admin'" class="nav__link">Избранное</a>
    <a *ngIf="userRole === 'user' || userRole === 'admin'" class="nav__link nav__link_icon" [routerLink]="['/settings']">
      <nb-icon icon="person-outline"></nb-icon>
    </a>
  </div>
  
</div>

