<div *ngIf="currentUser" class="nav">
  <div class="logout">
    <a class="nav__link" (click)="logout()">Выход</a>
  </div>

  <div class="routes">
    <a *ngIf="currentUser.role === 'admin'" class="nav__link" [routerLink]="['/admin']">Пользователи</a>
    <a *ngIf="currentUser.role === 'user' || currentUser.role === 'admin'" class="nav__link" [routerLink]="['/favorite']">Избранное</a>
    <a *ngIf="currentUser.role === 'user' || currentUser.role === 'admin'" class="nav__link" [routerLink]="['/map']">Карта</a>
    <a *ngIf="currentUser.role === 'user' || currentUser.role === 'admin'" class="nav__link nav__link_icon" [routerLink]="['/settings']">
      <nb-user size="large"
        [name]="currentUser.nickname"
        [title]="currentUser.role"
        picture="../../../../../assets/user-icon.svg"
        size="medium"  
      >
    </nb-user>
    </a>
  </div>
</div>

