<nb-layout>
  <nb-layout-header class="header">
    <app-header></app-header>
  </nb-layout-header>
  <nb-layout-column>
    <div class="setting">
      <div class="setting__body">
        <h3 class="setting__body-title">Настройки</h3>

        <form class="form" [formGroup]="form" (ngSubmit)="submit()">
          <div class="form__group">
            <label>Имя</label>
          
            <input type="text" nbInput fullWidth shape="round" fieldSize="giant" placeholder="Имя"
              formControlName="name">

            <div class="form__error" *ngIf="form.get('name')?.touched && form.get('name')?.errors">
              <p class="form__error-description"
                *ngIf="(form.get('name')?.touched || form.get('name')?.dirty) && form.get('name')?.errors?.['required']">
                Это поле является обязательным
              </p>

              <p class="form__error-description"
                *ngIf="(form.get('name')?.touched || form.get('name')?.dirty) && form.get('name')?.errors?.['maxlength']">
                Максимальная длина поля должна быть {{ form.get('name')?.errors?.['maxlength']?.['requiredLength'] }}
                символов
              </p>
            </div>
          </div>

          <div class="form__group">
            <label>Фамилия</label>

            <input type="text" nbInput fullWidth shape="round" fieldSize="giant" placeholder="Фамилия"
              formControlName="lastName">

            <div class="form__error" *ngIf="form.get('lastName')?.touched && form.get('lastName')?.errors">
              <p class="form__error-description"
                *ngIf="(form.get('lastName')?.touched || form.get('lastName')?.dirty) && form.get('lastName')?.errors?.['required']">
                Это поле является обязательным
              </p>

              <p class="form__error-description"
                *ngIf="(form.get('lastName')?.touched || form.get('lastName')?.dirty) && form.get('lastName')?.errors?.['maxlength']">
                Максимальная длина поля должна быть {{ form.get('lastName')?.errors?.['maxlength']?.['requiredLength']
                }} символов
              </p>
            </div>
          </div>

          <div class="form__group">
            <label>Почта</label>

            <input type="text" nbInput fullWidth shape="round" fieldSize="giant" placeholder="Почта"
              formControlName="mail">

            <div class="form__error" *ngIf="form.get('mail')?.touched && form.get('mail')?.errors">
              <p class="form__error-description"
                *ngIf="(form.get('mail')?.touched || form.get('mail')?.dirty) && form.get('mail')?.errors?.['required']">
                Это поле является обязательным
              </p>

              <p class="form__error-description"
                *ngIf="(form.get('mail')?.touched || form.get('mail')?.dirty) && form.get('mail')?.errors?.['maxlength']">
                Максимальная длина поля должна быть {{ form.get('mail')?.errors?.['maxlength']?.['requiredLength'] }}
                символов
              </p>

              <p class="form__error-description"
                *ngIf="(form.get('mail')?.touched || form.get('mail')?.dirty) && form.get('mail')?.errors?.['email']">
                Неверный формат почты
              </p>
            </div>
          </div>

          <div class="form__group">
            <label>Никнейм</label>

            <input type="text" nbInput fullWidth shape="round" fieldSize="giant" placeholder="Никнейм"
              formControlName="nickname">

            <div class="form__error" *ngIf="form.get('nickname')?.touched && form.get('nickname')?.errors">
              <p class="form__error-description"
                *ngIf="(form.get('nickname')?.touched || form.get('nickname')?.dirty) && form.get('nickname')?.errors?.['required']">
                Это поле является обязательным
              </p>

              <p class="form__error-description"
                *ngIf="(form.get('nickname')?.touched || form.get('nickname')?.dirty) && form.get('nickname')?.errors?.['maxlength']">
                Максимальная длина поля должна быть {{ form.get('nickname')?.errors?.['maxlength']?.['requiredLength']
                }} символов
              </p>
            </div>
          </div>

          <div class="form__group">
            <label>Пароль</label>

            <input type="text" nbInput fullWidth shape="round" fieldSize="giant" placeholder="Пароль"
              formControlName="password">

            <div class="form__error" *ngIf="form.get('password')?.touched && form.get('password')?.errors">
              <p class="form__error-description"
                *ngIf="(form.get('password')?.touched || form.get('password')?.dirty) && form.get('password')?.errors?.['required']">
                Это поле является обязательным
              </p>

              <p class="form__error-description"
                *ngIf="(form.get('password')?.touched || form.get('password')?.dirty) && form.get('password')?.errors?.['minlength']">
                Минимальная длина поля должна быть {{ form.get('password')?.errors?.['minlength']?.['requiredLength'] }}
                символов
              </p>

              <p class="form__error-description"
                *ngIf="(form.get('password')?.touched || form.get('password')?.dirty) && form.get('password')?.errors?.['pattern']">
                В пароле должна быть минимум одна строчная буква, одна прописная, одна цифра
              </p>
            </div>
          </div>

          <button class="button" nbButton hero status="primary" shape="round" type="submit" [disabled]="form.invalid">
            Изменить
          </button>
        </form>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>