<nb-accordion *ngIf="product" class="favorite__product">
  <nb-accordion-item>
    <nb-accordion-item-header class="favorite__user-header">{{ product.name }}</nb-accordion-item-header>

    <nb-accordion-item-body class="favorite__product-body favorite__user-body">
      <div class="favorite__product-body__img">
        <img [src]="product.imagePath" alt="Изображение товара">
      </div>

      <div class="favorite__product-body__info">
        <p>{{ product.description ? product.description : 'Нет описания' }}</p>

        <p>Цена: {{ product.price | price:'р' }} р.</p>
      </div>    
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
