@mixin font($size, $color, $weight: 400) {
  font-size: $size!important;
  color: $color!important;
  font-weight: $weight!important;
  line-height: 1!important;
  font-family: 'Consolas', sans-serif!important;
}
