@import "../../../../../../../assets/styles/mixins";

:host {
  flex-basis: 32%;
  max-width: 32%;

  display: flex;
}

.shop {
  border: 1px solid white;
  width: 100%;
}

::ng-deep {
  .shop {
    nb-card-header {
      border-bottom: 0;
    }
  }
}

