@import "../../../../../assets/styles/mixins";

.favorite__product {
  margin-bottom: 1.5rem;
  max-width: 58rem;
  background-color: aqua;

  &-body {
    &__img {
      flex-basis: 48%;

      display: flex;
      justify-content: center;

      img {
        display: block;
        object-fit: contain;
        height: 100%;
      }
    }

    &__info {
      flex-basis: 48%;

      p {
        &:first-child {
          @include font(1.4rem, white);
          margin-bottom: 1rem;
        }

        &:nth-child(2) {
          @include font(1.3rem, white);
          margin-bottom: 1rem;
        }
      }

      button {
        @include font(1.5rem, white);
        max-width: 15rem;
      }
    }


  }
}

::ng-deep {
  .favorite__product {
    nb-accordion-item-header {
      @include font(1.5rem, white);

      &.favorite__user-header {
        background-color: #423e9b;
      }
      
    }

    nb-accordion-item-body {
      &.favorite__user-body {
        background-color: #423e9b;
      }

      .item-body {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}