<nb-card class="popup__card">
  <nb-card-header>{{ shopInfo.name }}</nb-card-header>

  <nb-card-body>
    <div class="popup__card-body">
      <div class="img">
        <!-- <img [src]="shopInfo.imagePath ? shopInfo.imagePath : 'https://via.placeholder.com/70'" alt="Изображение магазина"> -->
      </div>
      <!-- <p class="description">{{ shopInfo.organizationDescription }}</p> -->
      <p class="number">Количество товаров: {{ shopInfo.productNumber }}</p>
    </div>
  </nb-card-body>

  <nb-card-footer class="popup__card-footer" *ngIf="shopInfo.website">
    <a [href]="shopInfo.website" target="_blank">Открыть сайт</a>
  </nb-card-footer>
</nb-card>

