<nb-card class="filter custom__map-card">
  <nb-card-header>Категории</nb-card-header>

  <nb-card-body class="filter__body custom__scroll custom__map-card__body" *ngIf="categories1Level.length">
    <div *ngFor="let category1Level of categories1Level; trackBy: trackByCategory1LevelFn" class="category__level">
      <div class="category__group">
        <map-checkbox [checked]="category1Level.checked" [text]="category1Level.name" (click)="select1LevelCategory(category1Level)"></map-checkbox>

        <div *ngIf="category1Level.categories2Level.length" class="category__dropdown" [ngClass]="{ 'category__dropdown_up': category1Level.showCategories2Level }">
          <nb-icon icon="arrow-ios-downward-outline" (click)="showCategories2Level(category1Level)"></nb-icon>
        </div>
      </div>

      <ng-container *ngIf="category1Level.categories2Level.length && category1Level.showCategories2Level"> 
        <div *ngFor="let category2Level of category1Level.categories2Level; trackBy: trackByCategory2LevelFn" class="category__level category__level_nested">
          <div class="category__group">
            <map-checkbox [checked]="category2Level.checked" [text]="category2Level.name" (click)="select2LevelCategory(category2Level)"></map-checkbox>

            <div *ngIf="category2Level.categories3Level.length" class="category__dropdown" [ngClass]="{ 'category__dropdown_up': category2Level.showCategories3Level }">
              <nb-icon icon="arrow-ios-downward-outline" (click)="showCategories3Level(category2Level)"></nb-icon>
            </div>
          </div>

          <ng-container *ngIf="category2Level.categories3Level.length && category2Level.showCategories3Level">
            <div *ngFor="let category3Level of category2Level.categories3Level; trackBy: trackByCategory3LevelFn" class="category__level category__level_nested">
              <div class="category__group">
                <map-checkbox [checked]="category3Level.checked" [text]="category3Level.name" (click)="select3LevelCategory(category3Level)"></map-checkbox>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>    
  </nb-card-body>
</nb-card>

<price-map-characteristic-filter
  *ngIf="isShowCharacteristics"
></price-map-characteristic-filter>


