@import "../../../../../assets/styles/mixins";

.product {
  border: 1px solid white;

  &__body {
    p {
      @include font(1.3rem, white, 400);
    }
  } 
}

::ng-deep {
  .product {
    nb-card-header {
      @include font(1.4rem, white, 700);
      border-bottom-color: white;
    }
  
    nb-card-footer {
      border-top-color: white;
      transition: background-color .2s linear;

      display: flex;
      justify-content: center;

      &:hover {
        background-color: darken(#323259, 10%);
        cursor: pointer;
      }
    }
  }
}

