<nb-card class="route__review-wrap">
  <nb-card-header>Маршрут</nb-card-header>

  <nb-card-body class="route__review custom-scroll">
    <div class="products">
      <map-product-mini-card 
        *ngFor="let product of products" 
        [product]="product"
      ></map-product-mini-card>
    </div>

    <button
      class="button"
      nbButton
      hero
      status="primary"
      shape="round"
      type="button"
      (click)="buildRoute()"
    >
      Построить маршрут
    </button>
  </nb-card-body>
</nb-card>


