<nb-card *ngIf="products.length" class="route__review custom__map-card" [ngClass]="{ 'collapsed': isCollapsed }">
  <nb-card-header>
    <p>Маршрут</p>
    <nb-badge *ngIf="isCollapsed" [text]="products.length.toString()" status="success" position="top right"></nb-badge>
    <div class="route__arrow" [ngClass]="{ 'route__arrow_up': !isCollapsed }" (click)="changeCollapse()">
      <nb-icon icon="arrow-ios-downward-outline"></nb-icon>
    </div>
  </nb-card-header>

  <nb-card-body class="route__review-body custom__scroll custom__map-card__body">
    <nb-list>
      <nb-list-item *ngFor="let product of products; trackBy: trackByProductFn">
        <map-product-mini-card
          [product]="product"
        ></map-product-mini-card>
      </nb-list-item>
    </nb-list>

    <button
      class="button"
      nbButton
      hero
      status="primary"
      shape="round"
      type="button"
      (click)="buildRoute()"
      [disabled]="products.length < 2"
    >
      Построить маршрут
    </button>
  </nb-card-body>
</nb-card>


