<nb-layout>
  <nb-layout-header>
    <a class="nav__link" [routerLink]="['/admin']">Пользователи</a>
    <a class="nav__link">Избранное</a>
    <a class="nav__link nav__link_icon" [routerLink]="['/settings']">
      <nb-icon icon="person-outline"></nb-icon>
    </a>
  </nb-layout-header>
  <nb-layout-column class="colored-column-warning">
    <div class="container">
      <div class="map" #map></div>
  
      <price-map-filter></price-map-filter>
  
      <price-map-route-review 
        *ngIf="isShowRouteReview" 
        [productIds]="productIdsForRoute"
      ></price-map-route-review>
    </div>
  </nb-layout-column>
</nb-layout>