@import "../../../../../assets/styles/mixins";

.container {
  position: relative;
  width: 100%;
  // height: calc(100vh - 5.8rem);
  height: 100vh;
}

.map {
  height: 100%;
  width: 100%;

  &.loader {
    filter: blur(2px);
  }
}

::ng-deep.container {
  nb-spinner.size-medium  {
    font-size: 9.5rem;
  }

  &.with_filter {
    nb-spinner.size-medium {
      left: 20.5vw;
    }
  }
}

::ng-deep.nb-theme-cosmic nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 0;
}

::ng-deep.nb-theme-cosmic nb-layout-header nav {
  justify-content: flex-end!important;
}

::ng-deep.nb-theme-cosmic nb-layout-header {
  border-bottom: 1px solid #13132b;

  & ~ .layout-container {
    min-height: auto;
  }
}