@import "../../../../../assets/styles/mixins";

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.map {
  height: 100%;
}

::ng-deep.nb-theme-cosmic nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 0;
}

::ng-deep.nb-theme-cosmic nb-layout-header nav {
  justify-content: flex-end!important;
}
